.board {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.cell:hover {
  background-color: #ddd;
}

.cell.isRevealed {
  cursor: default;
  background-color: #fff;
  border-color: #ccc;
}

.cell.isBomb {
  background-color: #f00;
}

.cell.isFlagged {
  background-color: #0ff;
}
